.box {
  height: 200px;
  width: 200px;
  background-color: rgb(94, 181, 184);
  border: 1px solid rgb(31, 12, 12);
  border-radius: 10px;
  text-align: center;
  color: darkslategrey;
}
body {
  background-color: aquamarine;
}
